@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(179, 199, 179);
}
:root {
    --grey-text:var(--grey-text);
    --dark-grey:var(--dark-grey);
    --mid-grey:var(--mid-grey);
}

.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
    
    
}

html {
    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;  
}



ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    list-style: none;
    height: 10vh;
    
}

li a {
    display: block;
    color: rgba(241, 241, 164, 0.624);
    text-decoration: none;
    font-size: 1.1rem;
}

/* #nav {
    background-color: transparent;
    font-size: 30px;
    font-weight: bold;
} */

/* /////////////////Begin Hero section////////////////////////////// */
#hero {
    background-color: transparent;
}
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    background-image: url(./assets/images/gas\ mask.jpg);
    background-size: cover;
    background-position: right;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 10s;
}
@keyframes scale {
    0% {
        transform: scale(1.82
        
        );
    }
    100% {
        transform: scale(1);
    }
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0; 
    left: 0;
    background: rgb(0, 0, 0, 0.425);
    z-index: 1;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 5%;  
    font-size: 68%;
    color: blanchedalmond;
    text-transform: uppercase;
}

.kevinRice {
    color: rgb(241, 241, 164);
}

.about-text {
    height: auto;
    width: 34%;
    font-size: .7rem;
    margin-block: 5px;
    text-align: left;
    color: rgb(241, 241, 164);
    font-style: italic;
    flex-direction: column;
    
}
/* /////////////////////////end of Hero Section///////////////////// */
/* projects container */
.projects-container {
    width: 100%;
    height: auto;
}

.project-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.project-1 {
    width: 400px;
    height: 400px;
    background: rgb(241, 241, 164);
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 50px;
    background-image: url(/assets/images/film\ reel.png);
    background-size: cover;
    background-position: center;
    
}



.bootcamp-project {
    width: 400px;
    height: 400px;
    background: rgb(241, 241, 164);
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 50px;
    background-image: url(/assets/images/online\ reputation\ management.jpg);
    background-size: cover;
    background-position: center;
}

.bootcamp-2-project {
    width: 400px;
    height: 400px;
    background: rgb(201, 205, 199);
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 50px;
    background-image: url(/assets/images/search\ engine\ optimization.jpg);
    background-size: cover;
    background-position: center;
}

.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: rgba(206, 209, 207, 0.812);
    overflow: hidden;
}

.text-container:hover {
    height: 250px;
}

.name {
    margin-top: 10px;
    color: rgb(53, 63, 53);
    font-size: 2rem;
}

.content {
    padding: 25px 0;
    color: rgba(46, 52, 43, 0.896);
}

.button {
    border: 5px solid rgba(46, 52, 43, 0.429);
    width: 160px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: auto;
    background-color: rgb(41, 44, 41);
}

h3 {
    color: rgb(241, 241, 164);
}

.contact-container {
    position: absolute;
    z-index: 2;
    width: 100%;
}
.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10%;
    list-style: none;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.79);
    font-size: 30px;  
    
}

.contact-links a {
    display: block;
    color: rgba(241, 241, 164, 0.624);
    text-decoration: none;
    font-size: 1.1rem;
}