body {
    background-color: rgb(157, 135, 157);
}

h1 {
    display: flex;
    flex-wrap: wrap; 
    width: 70px;
    margin: 20px;
    text-align: left;

}

#navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 20px;

} 

#navigationBar  {
    margin: 0px 20px 10px 20px;
    font-size: 35px;
    font-weight: 600;
} 

#Work img {
    height: 500px;
    
}

h2 {
    text-align: center;
    width: 70px;
    height: 300px;
    font-size: 56px;
}

p {
   
    
    
    
}








